<div class="brand-section bg-cream">
    <div class="container">
        <div class="brands-wrapper-inner">
            <div class="brands-wrapper filter-grayscale">
                <div class="single-brand" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="800">
                    <img src="./image/home/brand-1.png" alt="brand-logo">
                </div>
                <div class="single-brand" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="700">
                    <img src="./image/home/brand-2.png" alt="brand-logo">
                </div>
                <div class="single-brand" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="600">
                    <img src="./image/home/brand-3.png" alt="brand-logo">
                </div>
                <div class="single-brand" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="500">
                    <img src="./image/home/brand-4.png" alt="brand-logo">
                </div>
                <div class="single-brand" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="400">
                    <img src="./image/home/brand-5.png" alt="brand-logo">
                </div>
            </div>
        </div>
    </div>
</div>