<div class="home-2_hero-section section-padding-120" id="hero">
    <div class="container">
        <div class="row row--custom">
            <div class="col-lg-5 col-md-7 col-xs-8 col-10" data-aos-duration="1000" data-aos="fade-left" data-aos-delay="300">
                <div class="home-2_hero-image-block">
                    <div class="home-2_hero-image">
                        <img src="../../../../assets/images/cube4.png" alt="hero image" />
                    </div>
                </div>
            </div>
            <div class="col-xxl-auto col-lg-7 col-md-10" data-aos-duration="1000" data-aos="fade-right" data-aos-delay="300">
                <div class="home-2_hero-content">
                    <div class="home-2_hero-content-text">
                        <h1 class="hero-content__title heading-xl text-black">
                            Engage your customers with real-time chat
                        </h1>
                        <p>
                            Snaga is a complete customer service platform that connects with your website visitors in real-time to convert new leads, close more deals, and provide better support to your customers.
                        </p>
                    </div>
                    <div class="home-2_hero-button-group">
                        <a href="./contact.html" class="btn-masco btn-primary-l02 btn-fill--up">
                            <span>Start a 10-day free trial</span></a>
                        <a href="#" class="btn-masco btn-outline-l02 btn-fill--up">
                            <span>Learn more</span></a>
                    </div>
                    <div class="home-2_hero-content-button__bottom-text">
                        <span><img
            src="./image/icons/icon-star-green.svg"
            alt="green-star"
          />Rated 4.9/5 - from over 600 reviews</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>